// Body
$enable-gradients:true;
$body-bg: #ffffff;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$blue: #4285F4;
$indigo: #2BBBAD;
$purple: #aa66cc;
$pink: #f66d9b;
$red: #ff4444;
$orange: #ffbb33;
$yellow: #ffed4a;
$green: #00C851;
$teal: #4dc0b5;
$cyan: #33b5e5;