// Body
$enable-gradients:true;
$body-bg: #edf2f9;
// Typography
$font-family-sans-serif: 'Open Sans',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$blue: #2c7be5;
$indigo: #2BBBAD;
$purple: #aa66cc;
$pink: #f66d9b;
$red: #e63757;
$orange: #f5803e;
$yellow: #ffed4a;
$green: #00d27a;
$teal: #4dc0b5;
$cyan: #27bcfd;